<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
 
</head>
<body>
<center><h1>Quienes somos en <small>Informa-t.</small></h1></center>
<hr/>
</div>
</div>
 
 
<div class="row">
 
<div class="large-12 columns" role="content">
<article>
<h3><a href="#">Equipo humano</a></h3>
<div class="row">
<div class="large-6 columns">
<p><strong>Informa-t</strong> es un espacio web creado por Montse Villaverde de Diego y Mercedes Muñoz de la Peña Suárez, alumnas de Comunicación Digital en la <a href="http://www.uspceu.com/es/home.php" target="_blank">Universidad San Pablo CEU</a> de Madrid.</p>
<p>El correo corporativo de nuestro proyecto es <a href="mailto:ecomunica2@gmail.com" target="_blank">ecomunica2@gmail.com</a>. Estamos presentes en Twitter (<a title="Twitter" href="http://www.twitter.com/ecomunica_2" target="_blank">@eComunica_2)</a>.

<p>Nuestro  espacio ha sido creado en las prácticas de Tecnologías para la Programación y Diseño Web II , asignatura de 3º impartida por don Juan Ignacio Sanz Fuentes.

Puedes ponerte en contacto directo con nosotras o a través del formulario de esta página:</p>
<p>-Directamente con Mercedes: por correo (<a href="mailto:mercedesmpsuarez@gmail.com" target="_blank">mercedesmpsuarez@gmail.com</a>) y por Twitter (<a title="Twitter de Mercedes" href="http://www.twitter.com/mercedesmps" target="_blank">@mercedesmps</a>)
<p>- Directamente con Montse: por correo <a title="E-mail: c.moncadab@gmail.com" href="mailto:montse.tecnologia@gmail.com">montse.tecnologia@gmail.com </a> y por Twitter  <a href="https://twitter.com/MontseeLalala" target="_blank">@MontseeLalala</a>.</p>
</div>
<div class="large-6 columns">
<img src="images/merceymontse.png"/>
</div>
</div>
</article>

 <section>
  <div align="center">
      <h1>No lo dudes, contacta con nosotras</h1>
</div>
      <div class="row">
        <div class="large-12 columns panel">
          
          <form>
            <div class="row">
              <div class="small-6 small-centered columns">
                <label>Name
                  <input type="text" placeholder="Escribe tu nombre"> 
                </label>
              </div>
            </div>

                        <div class="row">
              <div class="small-6 small-centered columns">
                <label>Email
                  <input type="text" placeholder="Tu email">
                </label>
              </div>
            </div>

            <div class="row">
              <div class="small-6 small-centered columns">
                <label>Phone
                  <input type="text" placeholder="Tu teléfono">
                </label>
              </div>
            </div>

            <div class="row">
              <div class="small-6 small-centered columns">
                <label>Mejor hora para llamar</label>
                <input type="radio" value="Mañana"><label>Mañana</label>
                <input type="radio" value="Tarde"><label>Tarde</label>
                <input type="radio" value="Noche"><label>Noche</label>
                <input type="radio" value="No llamar"><label>No llamar</label>
              </div>
            </div>

            <div class="row">
              <div class="small-6 small-centered columns">
                <label>Mensaje (opcional)
                  <input type="text" placeholder="escribir mensaje">
                </label>
              </div>
            </div>
            <input type="submit" class="button" value="Enviar formulario">
          </form>
        </div>
        
    </section>


<footer>
<div class="large-9 columns">
<!-- <h5>TEXTO FOOTER</h5>
  -->
<center><p>POLÍTICA DE PRIVACIDAD </strong>|<strong> CONTRATAR PUBLICIDAD | <a href="/contactar">CONTACTO</a> | <a href="http://www.twitter.com/ecomunica_2">Síguenos en Twitter</a></p></center>
</div>
</div>
<div class="row expanded">
<div class="medium-6 columns">

</div>
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Copyright © 2015 Montse & Mercedes</li>
</ul>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>

    
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

