<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
 
</head>
<body>

<center><h1>Escuela <small>Informa-t.</small></h1></center>


</div>
</div>
<div class="row" id="content">
<div class="medium-8 columns">
<div class="blog-post">
<h3> En la Escuela para aprendizes te ofrecemos: <small></small></h3>
<img class="thumbnail" src="images/escuelaaprendices.png">
<p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. .</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Autor: Mercedes Muñoz de la Peña</a></li>
</ul>
</div>
</div>

<div class="blog-post">
<h3>En la Escuela de expertos te ofrecemos: <small></small></h3>
<img class="thumbnail" src="images/escuelaexpertos.jpg">
<p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. .</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Autor: Mercedes Muñoz de la Peña</a></li>
<li><a href="#">Comentarios: 3</a></li>
</ul>
</div>
</div>
</div>
<div class="medium-3 columns" data-sticky-container>
<div class="sticky" data-sticky data-anchor="content">

<ul class="vertical dropdown menu" data-dropdown-menu>
  <li>
    <a href="#">Item 1</a>
    <ul class="menu">
      <li><a href="#">Item 1A</a></li>
      <!-- ... -->
    </ul>
  </li>
  <li><a href="#">Item 2</a></li>
  <li><a href="#">Item 3</a></li>
  <li><a href="#">Item 4</a></li>
</ul>
<h4>Categorías</h4>
<ul>
<li><a href="#">Aprendices</a></li>
<li><a href="#">Expertos</a></li>
</ul>
</div>
</div>
</div>
<div class="row column">
<ul class="pagination" role="navigation" aria-label="Pagination">
<li><a href="#" aria-label=" Página Anterior">Anterior |</a></li>
<li><a href="#" aria-label="Página siguiente">Siguiente</a></li>
</ul>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
<footer>

<div class="large-9 columns">
<!-- <h5>TEXTO FOOTER</h5>
  -->
<center><p>POLÍTICA DE PRIVACIDAD </strong>|<strong> CONTRATAR PUBLICIDAD | <a href="/contactar">CONTACTO</a> | <a href="http://www.twitter.com/ecomunica_2">Síguenos en Twitter</a></p></center>
</div>
</div>
<div class="row expanded">
<div class="medium-6 columns">

</div>
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Copyright © 2015 Montse & Mercedes</li>
</ul>
</div>
</footer>
</html>

    
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>



