<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>

<html class="no-js" lang="en">

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Herramientas | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
<center><h1>Herramientas <small>2.0</small></h1></center>
<center><img src="images/socialmedia.jpg"/></center>
<hr/>
<ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Ebooks</a></li>
  <li class="tabs-title"><a href="#panel2">Tutoriales</a></li>
</ul>  
<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
  </div>
  <div class="tabs-panel" id="panel2">
    <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
  </div>
</div>
<br><br>
</div>
</div>
 
 
<div class="row">
 
<div class="large-12 columns" role="content">
<article>

<h3><a href="#">Ebooks</a></h3>
<p> Los ebooks de Informa-t...
<p>En esta sección</p>
<h3><a href="#">Tutoriales</a></h3>
Gracias a nuestros sencillos y atractivos tutoriales aprenderás a utilizar...
<p>En esta sección</p>
<h3><a href="#">Videotutoriales</a></h3>

<p>A través de estos vídeos</p>
<p>En esta sección</p>

<div class="row">
<div class="large-6 columns">

</article>

<footer>
  <div class="row column">
<ul class="pagination" role="navigation" aria-label="Pagination">
<li><a href="#" aria-label=" Página Anterior">Anterior |</a></li>
<li><a href="#" aria-label="Página siguiente">Siguiente</a></li>
</ul>
</div>
<div class="large-9 columns">
<!-- <h5>TEXTO FOOTER</h5>
  -->
<center><p>POLÍTICA DE PRIVACIDAD </strong>|<strong> CONTRATAR PUBLICIDAD | <a href="/contactar">CONTACTO</a> | <a href="http://www.twitter.com/ecomunica_2">Síguenos en Twitter</a></p></center>
</div>
</div>
<div class="row expanded">
<div class="medium-6 columns">

</div>
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Copyright © 2015 Montse & Mercedes</li>
</ul>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>

    
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
