<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
 
</head>
<body>
<style>.fi-social-facebook{color:dodgerblue;font-size:2rem;}.fi-social-youtube{color:red;font-size:2rem;}.fi-social-pinterest{color:darkred;font-size:2rem;}i.fi-social-instagram{color:brown;font-size:2rem;}i.fi-social-tumblr{color:navy;font-size:2rem;}.fi-social-twitter{color:skyblue;font-size:2rem;}</style>
<h1>Esta es nuestra web <small> Conócemos, no te arrepentirás !!!.</small></h1>
<br>
<div class="row">
<div class="medium-8 columns">
<p><img src="images/social1.png" id=social1 alt=" imagen artículo principal"></p>
</div>

<div class="medium-4 columns">
<p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image" alt="advertisement for deep fried Twinkies"></p>
<p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image"></p>
</div>
</div>
<hr>
<div class="row column">
<h4 style="margin: 0;" class="text-center">POSTS RECIENTES</h4>
</div>
<hr>
<div class="row">
<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
<article>
<div class="row">
<div class="large-6 columns">
<p><img src="images/mercedesmps_about.png" alt="About me" alt="article preview image"></p></p>
</div>
<div class="large-6 columns">
<h5><a href="#">'Me presento en about.me</a></h5>
<p>
<span><i class="fi-torso"> By Mercedes</i></span>
<span><i class="fi-calendar"> 05/10/16 </i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p><a href="https://about.me/mercedesmps" target="_blank">About.me</a> es un servicio que nos permite crear en unos minutos una página de perfil personal, a la que podemos conectar todas nuestras cuentas en redes sociales, blogs y sitios webs personales, con lo que tendremos una tarjeta de presentación en línea.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="images/innovacion.png" alt=" Innovación" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Compartimos la ilusión de comenzar nuestro proyecto IMAGINA-T</a></h5>
<p>
<span><i class="fi-torso"> By Montse &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 05/01/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Esta imagen, tomada de  la propuesta  <a title="twitter" href="https://twitter.com/hashtag/refrescatuaula" target="_blank">#refrescatuaula </a>iniciada por un grupo de profesores, nos inspira para comenzar el blog. El reto consistió en aportar una imagen de una mano con las ideas que proponen de cara al nuevo curso y se van publicando <a title="acceder" href="http://es.pinterest.com/aulablog/5-dedos-5-deseos-comparte-tus-ilusiones/" target="_blank">en Pinterest.</a>.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="http://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Ingredients for Life Were Always Present on Earth, Comet Suggests</a></h5>
<p>
<span><i class="fi-torso"> By Mercedes &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 03/25/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="http://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Astronaut's Watch Worn on the Moon Sells for Record $1.6 Million</a></h5>
<p>
<span><i class="fi-torso"> By Montse &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 03/23/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<div class="row">
<div class="large-6 columns">
<p><img src="http://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-6 columns">
<h5><a href="#">Interstellar Dust on the Galaxy's Magnetic Field | Space Wallpaper</a></h5>
<p>
<span><i class="fi-torso"> By Mercedes &nbsp;&nbsp;</i></span>
<span><i class="fi-calendar"> 03/20/16 &nbsp;&nbsp;</i></span>
<span><i class="fi-comments"> 6 comments</i></span>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
</div>
</div>
<hr>
<ul class="pagination" role="navigation" aria-label="Pagination">
<li class="disabled">Anterior <span class="show-for-sr">página</span></li>
<li class="current"><span class="show-for-sr">Estás en la página</span> 1</li>
<li><a href="#" aria-label="Página 2">2</a></li>
<li><a href="#" aria-label="Página 3">3</a></li>
<li><a href="#" aria-label="Página 4">4</a></li>
<li><a href="#" aria-label="Next page">Siguiente <span class="show-for-sr">página</span></a></li>
</ul>
</article>
</div>
<div class="large-4 columns">
<aside>
<div class="row small-up-3">
<div class="column text-center">
<i class="fi-social-facebook"></i>
<h6>56,009</h6>
<p><small>FOLLOWERS</small></p>
<br>
</div>
<div class="column text-center">
<i class="fi-social-twitter"></i>
<h6>76,905</h6>
<p><small>FOLLOWERS</small></p>
<br>
</div>
<div class="column text-center">
<i class="fi-social-instagram"></i>
<h6>34,099</h6>
<p><small>FOLLOWERS</small></p>
<br>
</div>
<div class="column text-center">
<i class="fi-social-tumblr"></i>
<h6>13,765</h6>
<p><small>FOLLOWERS</small></p>
</div>
<div class="column text-center">
<i class="fi-social-pinterest"></i>
<h6>9,283</h6>
<p><small>FOLLOWERS</small></p>
</div>
<div class="column text-center">
<i class="fi-social-youtube"></i>
<h6>99,000</h6>
<p><small>FOLLOWERS</small></p>
</div>
</div>
<br>
<div class="row column">
<p class="lead">NOS PATROCINA</p>
<p><img src="http://placehold.it/400x300&text=Buy Me!" alt="advertisement of ShamWow"></p>
</div>
<br>
<div class="row column">
<p class="lead">Artículos populares</p>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://placehold.it/100">
</div>
<div class="media-object-section">
<h5>Título artículo 1.</h5>
</div>
</div>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://placehold.it/100">
</div>
<div class="media-object-section">
<h5>Título artículo 2.</h5>
</div>
</div>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://placehold.it/100">
</div>
<div class="media-object-section">
<h5>Título artículo 3.</h5>
</div>
</div>
<div class="media-object">
<div class="media-object-section">
<img class="thumbnail" src="http://placehold.it/100">
</div>
<div class="media-object-section">
<h5>Título artículo 5.</h5>
</div>
</div>
</div>
</aside>
</div>
</div>
<footer>

<div class="large-9 columns">
<!-- <h5>TEXTO FOOTER</h5>
  -->
<center><p>POLÍTICA DE PRIVACIDAD|<strong> CONTRATAR PUBLICIDAD | <a href="/contactar">CONTACTO</a> | <a href="http://www.twitter.com/ecomunica_2">Síguenos en Twitter</a></p></center>
<ul class="menu">
<li><a href="#">Enlace1</a></li>
<li><a href="#">Enlace2</a></li>
<li><a href="#">Enlace3</a></li>
</ul>
</div>


<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Copyright © 2015 Montse & Mercedes</li>
</ul>
</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>

    
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
