<div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
             <li><a href="/" class="button">Inicio</a></li>
             <li><a href="/posts" class="button">Blog</a></li>
             <li><a href="/escuela" class="button">Escuela Informa-t</a></li>
             <li><a href="/comunidad" class="button">Comunidad</a></li>
             <li><a href="/herramientas" class="button">Herramientas</a></li>
              <li><a href="/suscripcion" class="button">Suscripción</a></li>
              <li><a href="/contactar" class="button">Contactar</a></li>
             <li><a href="/ayuda" class="button">Ayuda</a></li>
            </ul>
          </div>
          
         
          </div> 
<div class="row">
<div class="medium-4 columns">
<img src="images/logo_informat.png" alt="Logo de Informat">
</div>
<div class="medium-6 columns">
<img src="http://placehold.it/900x175&text=Responsive Ads - Publicidad/333" alt="Anuncio de tu empresa">
</div>
</div>
        
           


  
          
          