<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
 
</head>
<body>
<style>.fi-social-facebook{color:dodgerblue;font-size:2rem;}.fi-social-youtube{color:red;font-size:2rem;}.fi-social-pinterest{color:darkred;font-size:2rem;}i.fi-social-instagram{color:brown;font-size:2rem;}i.fi-social-tumblr{color:navy;font-size:2rem;}.fi-social-twitter{color:skyblue;font-size:2rem;}</style>
<header>
<div class="top-bar dark">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">Informa-t</li>
</div>

<div class="top-bar-right">
<ul class="menu">
<li><input type="search" placeholder="Buscar"></li>
<li><button type="button" class="button">Buscar</button></li>
</ul>
</div>
</div>
 
 <p></p>
<div class="row">
<div class="medium-3 columns">
<img src="images/logo_informat.png" alt="Logo de Informat">
</div>
<div class="medium-6 columns">
<img src="http://placehold.it/900x175&text=Responsive Ads - Publicidad/333" alt="Anuncio de tu empresa">
</div>
</div>
 
<br>
<div class="top-bar dark">
<ul class="menu dropdown expanded text-center" data-dropdown-menu>
<li class="menu"><a href="/inicio">Inicio</a>
<li class="has-submenu"><a href="#">Blog</a>
<ul class="submenu menu-bar vertical" data-submenu>

<li><a href="">Actualidad</a></li>
<li><a href="">Marca personal</a></li>
<li><a href="">Entrevistas</a></li>
<li><a href="">Opinión</a></li>
<li><a href="/posts">Ver todo →</a></li>

</ul>
 <li class="has-submenu"><a href="#">Escuela Informa-t</a>
<ul class="submenu menu-bar vertical" data-submenu>
<li><a href="#">Aprendices</a></li>
<li><a href="#">Expertos</a></li>
<li><a href="/escuela">Ver todo →</a></li>
</ul>
</li> 

</li>
<li class="has-submenu"><a href="#">Comunidad online</a>
<ul class="submenu menu-bar vertical" data-submenu>
<li><a href="#">Aprendices</a></li>
<li><a href="#">Expertos</a></li>
 <li><a href="/comunidad">Ver todo →</a></li>
</ul>
</li>

</li>

</li>
<li class="has-submenu"><a href="#">Herramientas 2.0</a>
<ul class="submenu menu-bar vertical" data-submenu>
<li><a href="#">Tutoriales</a></li>
<li><a href="#">ebooks</a></li>
<li><a href="#">Videotutoriales</a></li>
<li><a href="/herramientas">Ver todo →</a></li>
</ul
</li> 

</li>
<li class="menu"><a href="/suscripcion">Suscripción</a>

<li class="menu"><a href="/contactar">Contacto</a>
<li class="menu"><a href="/ayuda">Ayuda</a>
</ul>
</li>
</ul>
</div>
</header>
<div class="large-9 columns">

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>

    
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
